body{
    background-color: bisque;
    background-image: url(././images/ranu11.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.content{
    text-align: center;
    padding-top: 50px;
}
p{
    
}